<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container" id="body">
      <h2 id="title" class="text-center">Todo title : <%= doc.title %></h2>
      <div id='description' class="text-center">
        <h5>Description :</h5>
        <h5><%= doc.description %></h5>
      </div>
    </div>
  </body>
</html>
