body {
  background-color: gray;
}
div {
  margin-top: 25px;
  margin-bottom: 25px;
}
div#body {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

#title {
  margin-top: 50px;
  margin-bottom: 25px;
}

ul {
  padding-left: 0;
  text-align:center;
  list-style-type:none;
}
a {
  margin-left: 5px;
  margin-right: 5px;
}

.chars{
  width: 10ch;
}
